* {
    padding: 0;
    margin: 0;
}
body {
    font-family: Helvetica, Arial;
    margin: 20px;
    text-align: center;
}
.tagline {
    font-style: italic;
}
.imagelink {
    margin: 5px;
    display: inline-block;
}
.underline {
    padding: 0 20px 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
}
.label, input {
    width: 24ex;
    display: inline-block;
    margin-bottom: 5px;
    text-align: left;
    font-size: inherit;
}
.logo {
    height: 200px;
}
.info {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
input[type='submit'] {
    text-align: center;
    margin: 20px auto auto 0;
    background: #ccc;
    border: 0px;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}
input[type='submit']:hover {
    background-color: #aaa;
}
input[type='text'] {
    border: 1px solid #ccc;
    outline: 0;
    border-radius: 4px;
    padding: 5px;
}
input[type='text']:focus {
    background-color: #eee;
}
.preview {
    display: block;
    margin: 0 auto;
}
h2 {
    padding-bottom: 6px;
}
